body {
  background-color: #2e2d2d;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container0 {
  position: relative;
  display: inline-block; /* or block, depending on your layout */
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0.7;
}

 .navbar {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  padding-left: 10.5rem;
  padding-right: 10.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
 }
.logo{
  width: 150px;
}
.logo svg {
  color: rgb(229, 9, 20);
  fill: rgb(229, 9, 20);
}
.navbar-buttons{
  margin-left: auto;
  display: flex;
}
.navbar-buttons .buttons {
  width: 10rem;
  border-radius: 0.5rem;
}
.navbar-buttons .dropdown {
  
  border: 1px solid white;
}
.sign-in {
  margin-left: 1rem;
  margin-right: 20.5rem;
  font-size: 16px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: #e50914;
  color: white;
  
  border: 1px solid #b50710;
}

.header-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 20;
  text-align: center;
  margin-top: 100px;
}
.header-text h1{
  font-size: 40px;
  font-weight: 600;
}
.header-text p{
  font-size: 16px;
}
.container1 {
  width: 100%;
  height: auto;
  background-color: black;
  padding-bottom: 70px;
  padding-top: 60px;
}
.parent{
  position: relative;
}
.parent .kids{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.parent .over{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.container2 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container3 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container3 .row{
  padding-bottom: 80px;
  padding-top: 80px;
}
.parents {
  position: relative;
  width: 400px; 
  height: 400px;
  padding-left: 60px;
  padding-top: 40px;
}

.kid {
  width: 90%;
  height: 80%;
  object-fit: cover;
  padding-left: 30px;
  padding-top: 30px;
}

.overla {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  object-fit: cover;
  padding-left: 40px;
  padding-top: 20px;
 
  
}

.container4 {
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 3%;
  /* padding-bottom: 3%; */
} 
.container4 .row{
  padding-bottom: 30px;
  padding-top: 40px;
}
.row{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  
}
.kids{
  flex-basis: 50%;
  margin-bottom: 20px;
}
.kids img{
  display: block;
  width: 50%;
  margin: auto;
}
.kids-section{
  flex-basis: 50%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 25px;
  padding-left: 5%;
}

.container5 {
  width: 100%;
  height: auto;
  background-color: black;
  padding-bottom: 2%;
}
.heading {
  background-color: black;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 3%;
}
.content {
  margin: 30px auto;
  width: 100%;
  max-width: 750px;
}
.content li {
  list-style: none;
  width: 100%;
  padding: 5px;
}
.content li label {
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 24px;
  font-weight: 100;
  background: #303030;
  margin-bottom: 2px;
  color: white;
  cursor: pointer;
  position: relative;
}
.content li label:hover {
  background: #5f5f5f;
}
.container5 ul li input[type="radio"] + label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
input[type="radio"] {
  display: none;
}
.content .answer {
  color: white;
  font-size: 22px;
  background: #303030;
  padding: 0 20px;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.content input[type="radio"]:checked + label + .answer {
  max-height: 600px;
  padding: 30px 20px;
}
.content input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}
.line{
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.email-signup{
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden ;
  max-width: 600px;
  margin: 20px auto 60px;
}
.email-signup input{
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}
.email-signup button{
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}



.container6 {
  background-color: black;
  padding-bottom: 1rem;
}

.inner-container-6 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.questionsDiv {
  background-color: #000000;
  /* border: 1px solid #131313; */
  color: #c5c5c5;
  padding-top: 3%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding:1 0px 0px;
  background-color: #000000;
  /* border: 1px solid #131313; */
  text-align: center;
  font-size: smaller;
  color: red;
}

.grid-container div {
  background-color: #000000;
  padding: 10px 0px;
  /* border: 1px solid #ddd; */
  text-align: left;
}

.grid-container a {
  /* text-decoration: none; */
  color: #c5c5c5;
}

.grid-container a:hover {
  color: #a4c2da;
}

.dropdown {
  /* Add some basic styling to the container */
  padding: 10px;
  /* border: 1px solid #ccc; */
  /* border-radius: 1px; */
  /* display: inline-block; */
  width: 200px;
  padding: 6px 0px;
  padding-top: auto;
  height: 2rem;
  border-radius: 6px;
  /* position: relative; */
  color: #c5c5c5;
  background-color: #141313;
  margin-bottom: 1%;
  margin-top: 1%;
}

.dropdown label {
  background-color: #141313;
  width: 10%;
  float: left;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.dropdown select {
  /* Style the select element */
  height: 100%;
  padding-left: 10px;
  padding-right: 40px;
  border: none;
  outline: none;
  /* border-radius: 6px; */
  font-size: 16px;
  font-family: Arial, sans-serif;
  appearance: none; /* remove the default arrow in Chrome */
  -moz-appearance: none; /* remove the default arrow in Firefox */
  background-color: #141313;
  color: #f2e8e8;
}

.dropdown:focus-within {
  /* Add some visual feedback when the select element is focused */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  outline: none;
}

.dropdown select option {
  /* Style the option elements */
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #0a0a0a;
}

.dropdown select option:selected {
  /* Style the selected option */
  background-color: #ffffff;
  color: #333;
}

.trademark {
  background-color: #000000;
  /* border: 1px solid #131313; */
  color: #c5c5c5;
}
