body {
  background-color: #2e2d2d;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container0 {
    position: relative;
    display: inline-block; /* or block, depending on your layout */
  }
  
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    opacity: 0.7; /* adjust the opacity to your desired level */
  }
.container1 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container2 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container3 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container4 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container5 {
  width: 100%;
  height: auto;
  background-color: black;
}
.container6 {
  width: 100%;
  height: auto;
  background-color: black;
  padding-bottom: 10rem;
}
.questionsDiv{
    background-color: #000000;
    /* border: 1px solid #131313; */
    color: white; 
    padding-left: 20%;
    padding-top: 3%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  background-color: #000000;
  /* border: 1px solid #131313; */
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container div {
  background-color: #000000;
  padding: 10px;
  /* border: 1px solid #ddd; */
  text-align: center;
}

.grid-container a {
  /* text-decoration: none; */
  color: #dde7f0;
}

.grid-container a:hover {
  color: #a4c2da;
}

.dropdown {
  /* Add some basic styling to the container */
  padding: 10px;
  /* border: 1px solid #ccc; */
  /* border-radius: 1px; */
  width: 200px; /* adjust the width to your desired value */
  padding: 6px;
  margin-left: 20%;
  padding-top: auto;
  height: 2rem;
  border-radius: 6px;
  position: relative;
  color: white;
  background-color: #141313;
}

.dropdown label {
    background-color: #141313;
    width: 10%;
    float: left;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.dropdown select {
  /* Style the select element */
  width: auto;
  height: 100%;
  padding-left: 10px;
  padding-right: 40px;
  border: none;
  outline: none;
  /* border-radius: 6px; */
  font-size: 16px;
  font-family: Arial, sans-serif;
  appearance: none; /* remove the default arrow in Chrome */
  -moz-appearance: none; /* remove the default arrow in Firefox */
  background-color: #141313;
  color: #f2e8e8;
}

.dropdown:focus-within {
  /* Add some visual feedback when the select element is focused */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  outline: none;
}

.dropdown select option {
  /* Style the option elements */
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #0a0a0a;
}

.dropdown select option:selected {
  /* Style the selected option */
  background-color: #ffffff;
  color: #333;
}

